* {
box-sizing: border-box;
}

body {
margin: 0;
font-familiy: sans-serif;
background: #E67E22;
}

.Contenedor {
  color: #E67E22;
  text-align: center;
}

.Form-Municipio {
 width: 60%;
 max-width: 500px;
 margin: auto;
 background: #d6e6ed;
 border-radius: 7px;
}

.Titulo-Form-Municipio {
 background: #32CD32;
 color: #fff;
 padding: 8px;
 text-align: center;
 font_weight: 100px;
 font_size: 30px;
 border-top-left-radius: 7px;
 border-top-rigth-radius: 7px;
 border-bottom: 10px solid crimson;
} 
  
.Contenedor-input {
 padding: 5px 10px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.Tabla-Municipios {
 text-align: left;
 border: 1px solid darkgray;
 width: 100%;
}

.Tabla_Botones {
 text-align: center;
 border: 1px solid darkgray;
}

.input-50 {
 width: 50%;
}

.btn-insertar {
 background: Crimson;
 color: #fff;
 margin: auto;
 padding: 10px 40px;
 cursor: pointer;
 border-radius: 7px;
}

.btn-Insertar: active {
 transform: scale (1.05);
}


.btn-Modificar {
 background: #188B37;
 color: #fff;
 margin: auto;
 padding: 10px 40px;
 cursor: pointer;
 border-radius: 7px;
}

.btn-Modificar: active {
 transform: scale (1.05);
}


.btn-Buscar {
 background: #202C83;
 color: #fff;
 margin: auto;
 padding: 10px 40px;
 cursor: pointer;
 border-radius: 7px;
}

.btn-Buscar: active {
 transform: scale (1.05);
}


.btn-Eliminar {
 background: #F05D00;
 color: #fff;
 margin: auto;
 padding: 10px 40px;
 cursor: pointer;
 border-radius: 7px;
}

.btn-Eliminar: active {
 transform: scale (1.05);
}


.btn-Limpiar {
 background: Black;
 color: #fff;
 margin: auto;
 padding: 10px 40px;
 cursor: pointer;
 border-radius: 7px;
}

.btn-Limpiar: active {
 transform: scale (1.05);
}


.btn-Retornar {
 background: #202C83;
 color: #fff;
 margin: auto;
 padding: 10px 40px;
 cursor: pointer;
 border-radius: 7px;
}

.btn-Retornar: active {
 transform: scale (1.05);
}
